/*
 * @Author: liweilong
 * @Date: 2020-11-12 14:27:34
*/
$htmlColor:#319595;
$htmlSupplyColor: #DC3173;
$htmlNeedColr:#1A8EFF;

body {
  // overflow-x: auto;
  font-family: Microsoft YaHei;
}

.container {
  max-width: 1200px !important;
  width: 1200px;
}


header {
  width: 100vw;

  .header {
    height: 62px;

    .header_b {
      height: 100%;
      line-height: 62px;

      .left_text {
        color: #666666;
        font-size: 18px;
        font-family: Microsoft YaHei;
      }

      .icon_li {
        svg {
          width: 20px;
          height: 24px;
        }

        .text_info {
          color: #333333;
          font-size: 18px;
        }
      }


    }
  }
}

.nav {
  width: 100vw;
  height: 95px;


  .nav_row {
    // width: 100%;

    .header_text {
      width: 220px;
      font-size: 50px;
      font-family: YouSheBiaoTiHei;
      font-weight: 400;
      color: #319595;
    }

    .search {
      width: 540px;
      height: 47px;
      border: 3px solid #319595;
      border-radius: 24px 21px 21px 24px;

      .search_left {
        width: 130px;
        height: 47px;
        line-height: 47px;
        margin-top: -2px;
        margin-left: -2px;
        background: #319595;
        border-radius: 24px;
        font-size: 24px;
        font-family: SimHei;
        font-weight: 400;
        color: #FFFFFF;
      }

      .search_input {
        outline: none;
      }

      .search_icon {
        svg {
          width: 23px;
          height: 23px;
        }
      }
    }

    .pub_wrap {
      width: 180px;
      display: block;
      text-decoration: none;

      .pub_btn {
        width: 60px;
        height: 60px;
        background: url('../images/bg_need1.png') no-repeat;
        background-size: cover;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
      }

      .right_pub {
        width: 160px;
        height: 40px;
        line-height: 40px;
        color: #FFFFFF;
        background: url('../images/bg_need.png') no-repeat;
        background-size: cover;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: bold;
        border-radius: 10px;
      }
    }
  }
}

.display_none_nav {
  width: 100vw;
  top: -100px;
  z-index: 2000;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  background-color: #FFFFFF;

}

.location_change_wrap {
  width: 430px;
  height: 100px;
  display: none;

  select {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;

    option {
      border: none;
    }
  }
}


// 消息列表
.notice_list_wrap {
  width: 363px;
  height: 409px;
  background-color: #FFFFFF;
  z-index: 1000;
  display: none;

  .caret {
    top: -150px;
    z-index: 1000;
    width: 0;
    height: 0;
    border: 20px solid;
    border-color: transparent transparent red;
  }

  .header_notice_title {
    color: #999999;

  }


  .search {
    width: 300px;
    height: 46px;
    border: 1px solid #DCDCDC;
    border-radius: 23px;
    margin: 0 auto;

    .search_left {
      height: 47px;
      line-height: 47px;
      border-radius: 23px;
      font-size: 20px;
      font-family: Adobe Heiti Std;
      font-weight: normal;
      color: #999999;
    }

    .search_input {
      outline: none;
      height: 40px;
      border-radius: 23px;
    }

    .search_icon {
      svg {
        width: 23px;
        height: 23px;
      }
    }
  }

  .ul_wrap::-webkit-scrollbar {
    width: 8px;
    height: 1px;
  }

  .ul_wrap::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $htmlColor;
  }

  .ul_wrap::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 10px;
    background: #EEEEEE;
  }

  .ul_wrap {
    height: 350px;
    overflow-y: auto;
  }

  .notice_li_ul {
    box-sizing: border-box;
    overflow-y: auto;

    .new_notice_li {
      width: 100%;
      border-bottom: 1px solid #DCDCDC;
      box-sizing: border-box;

      a {
        width: 100%;
        display: inline-block;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .avatar_wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .ava_img {
            position: relative;
            width: 55px;
            height: 55px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
            }

            .dot {
              position: absolute;
              right: -5px;
              z-index: 100;
              display: inline-block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #dc3173;
              color: #ffffff;
              text-align: center;
              line-height: 20px;
              font-size: 0.4rem;
            }
          }

          .n_con {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 10px;

            .username {
              font-size: 20px;
              font-family: SimHei;
              font-weight: 400;
              color: #333333;
            }

            .notice_desc {
              width: 250px;
              font-size: 16px;
              font-family: PingFang;
              font-weight: 400;
              color: #999999;
            }
          }
        }
      }

    }
  }
}