/*
 * @Author: liweilong
 * @Date: 2020-11-12 13:39:57
 */
@import './header.scss';


.index_swiper {
  height: 426px;

  .swiper-container {
    width: 100%;
    // 分页器
    --swiper-pagination-color: #ffffff;

    .swiper-wrapper {
      width: 100%;

      .swiper-slide {
        width: 100%;
        height: 426px;
        
        a {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .right_sign {
    height: 5px;
    top: 0;
    left: 50%;
    z-index: 1000;
    transform: translateX(-50%);

    .sign_login_wrap {

      .trans_buy_used {
        right: 0;
        top: 40px;
        width: 450px;
        height: 300px;
        border-radius: 10px;
        box-shadow: 1px 7px 9px 1px rgba(4, 0, 0, 0.2);
        z-index: 1000 !important;

        // tag标签
        .tans_tag {
          position: relative;
          width: 100%;
          display: flex;
          border-bottom: 1px solid #B5B5B5;

          @mixin header_title {
            position: relative;
            width: 100%;
            height: 46px;
            color: #7F7F7F;
            display: flex;
            background-color: #ffffff;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            box-sizing: border-box;
            border-bottom: 3px solid transparent;
            cursor: pointer;
          }

          // 注册账号
          .buy_wrap {
            @include header_title;
            border-right: 1px solid #B5B5B5;
            border-radius: 10px 0 0 0;

            svg {
              width: 20px;
              height: 20px;
            }
          }

          // 账号登录
          .used_wrap {
            @include header_title;
            border-bottom: 3px solid transparent;
            border-radius: 0 10px 0 0;

            svg {
              width: 20px;
              height: 20px;
            }
          }

          // 活跃状态
          .text_active {
            color: #000000;
            border-bottom: 3px solid $htmlColor;

            svg {
              path {
                fill: $htmlColor !important;
              }
            }
          }
        }

        .swiper-container {
          width: 9.186667rem;
          background-color: #FFFFFF;
          border-radius: 0 0 10px 10px;

          .swiper_wrap {

            .slide_item {
              height: 9.066667rem;
              position: relative;

              .input_wrap {
                width: 298px;
                height: 38px;
                outline: none;
                padding-left: 10px;
                border: 1px solid #ced4da;
                border-radius: 5px;
              }

              .input_wrap:focus {
                color: #495057;
                background-color: #fff;
                border-color: $htmlColor;
                outline: 0;
                box-shadow: 0 0 0 0.2rem #90e2ef;
              }

              .circle_wrap {
                transition: 1s;
                width: 21px;
                height: 21px;
                border: 1px solid rgb(34, 89, 241);
                border-radius: 50%;


                .circle {
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background: rgb(34, 89, 241);

                  animation: circle_inline 1s linear 2s infinite alternate;
                  /* Firefox: */
                  -moz-animation: circle_inline 1s linear 2s infinite alternate;
                  /* Safari and Chrome: */
                  -webkit-animation: circle_inline 1s linear 2s infinite alternate;
                  /* Opera: */
                  -o-animation: circle_inline 1s linear 2s infinite alternate;
                }
              }

              // 成功icon
              .success_icon {
                display: none;
                width: 25px;
                height: 25px;
              }

              @keyframes circle_inline {
                0% {
                  width: 10px;
                  height: 10px;
                }

                50% {
                  width: 13px;
                  height: 13px;
                }

                100% {
                  width: 15px;
                  height: 15px;
                }
              }

              .btn-p {
                width: 298px;
                height: 43px;
                background: $htmlColor;
                border-radius: 21px;
                font-size: 15px;
                font-family: Microsoft YaHei;
                font-weight: 400;
                color: #FFFFFF;
              }
            }

          }
        }

      }

      // 忘记密码
      .find_passwd {
        top: 55px;
        right: 0;
        height: 100%;
        width: 450px;
        height: 407px;
        background-color: #ffffff;
        z-index: 1000 !important;
        border-radius: 10px;
        display: none;

        .header_find {
          height: 46px;
          background-color: $htmlColor;
        }

        .form_wrap {
          .input_wrap {
            width: 298px;
            height: 38px;
            outline: none;
            padding-left: 10px;
            border: 1px solid #ced4da;
            border-radius: 5px;
          }

          .input_wrap:focus {
            color: #495057;
            background-color: #fff;
            border-color: $htmlColor;
            outline: 0;
            box-shadow: 0 0 0 0.2rem #90e2ef;
          }

          .btn-p {
            width: 298px;
            height: 43px;
            background: $htmlColor;
            border-radius: 21px;
            font-size: 15px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #FFFFFF;
          }
        }
      }

      // 图片验证
      #slideBar {
        display: none;
        position: absolute;
        top: 100px;
        right: 20px;
        z-index: 1000;
        height: 220px;
        background: #fff;
        box-shadow: 0 0 5px rgba(4, 0, 0, 0.2);
      }
    }

    // 个人中心
    .person_wrap {
      right: 0;
      top: 88px;
      width: 477px;
      height: 300px;
      border-radius: 10px;
      box-shadow: 1px 7px 9px 1px rgba(4, 0, 0, 0.2);
      z-index: 1000 !important;

      .header_img_wrap {
        padding: 24px 51px;
        box-sizing: border-box;

        .header_img {
          width: 99px;
          height: 99px;
          border-radius: 50%;

          img {
            object-fit: cover;
          }
        }

        .right_name {
          h5 {
            height: 60%;
            font-size: 30px;
            font-family: Adobe Heiti Std;
            font-weight: normal;
            color: #000000;
          }

          p {
            font-size: 18px;
            font-family: Adobe Heiti Std;
            font-weight: normal;
            color: #999999;
          }
        }
      }

      .number {
        font-size: 20px;
        font-family: Adobe Heiti Std;
        font-weight: normal;
        color: $htmlColor;
      }

      .text_h {
        font-size: 18px;
        font-family: Adobe Heiti Std;
        font-weight: bold;
        color: #999999;
      }

      .pro_btn {
        width: 170px;
        height: 30px;
        line-height: 30px;
        background: #319595;
        border-radius: 5px;
      }
    }

  }
}

// 网站公告
.public_swiper {
  height: 50px;

  .row {
    height: 50px;
    border: 2px solid #319595;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.04);
    border-radius: 15px;

    .left_wrap {
      width: 160px;
      height: 50px;
      line-height: 50px;
      background: #319595;
      box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.04);
      border-radius: 11px;
      font-size: 22px;
      margin-left: -2px;
      margin-top: -2px;
      font-family: Adobe Heiti Std;
      font-weight: normal;
      color: #FFFFFF;
    }

    .right_wrap {

      .publick_swiper {
        height: 50px;

        .swiper-wrapper {

          .swiper-slide {
            line-height: 50px;
            color: #666666;
            font-size: 20px;
            font-family: Adobe Heiti Std;
            font-weight: normal;
          }
        }
      }

    }
  }
}

// 上部广告
.advert {

  .row {
    .img_wrap {
      width: 590px;
      height: 100px;
      background: #319595;
      border-radius: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}


// 供应需求主体
.supply_need {
  .wrap {
    width: 590px;
    border: 5px solid $htmlColor;
    border-radius: 10px;

    .header_title {
      width: 582px;
      background-color: $htmlColor;
      border-radius: 5px 5px 0 0;
      margin-top: -2px;
      margin-left: -1px;
      display: flex;
      align-items: center;

      img {
        width: 21px;
        height: 24px;
      }

      span {
        font-size: 18px;
      }
    }

    .search_sn_wrap {
      width: 420px;
      height: 40px;
      border: 2px solid $htmlSupplyColor;
      border-radius: 20px;
      box-sizing: border-box;

      .left_wrap_btn {
        width: 109px;
        height: 40px;
        line-height: 40px;
        margin-top: -2px;
        margin-left: -2px;
        background: #DC3173;
        border-radius: 20px;
        font-size: 20px;
        font-family: Adobe Heiti Std;
        font-weight: normal;
      }

      input {
        width: 250px;
        height: 34px;
      }
    }

    .location_change {
      font-size: 22px;
      font-family: PingFang;
      font-weight: 400;
      color: #000000;
    }

    .wrapper::-webkit-scrollbar {
      width: 22px;
      height: 1px;
    }

    .wrapper::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: $htmlSupplyColor;
    }

    .wrapper::-webkit-scrollbar-track {
      /*滚动条里面轨道*/
      border-radius: 10px;
      background: #EEEEEE;
    }

    .wrapper {
      width: 565px;
      height: 1000px;
      border-radius: 12px;
      padding: 10px 20px;
      box-sizing: border-box;

      .goods_ul_content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .goods_li {
          width: 230px;
          margin-bottom: 15px;

          .img_wrap {
            width: 100%;
            height: 145px;
            overflow: hidden;
            border-radius: 12px;
            box-shadow: 0 0 8px rgba(4, 0, 0, 0.2);

            img {
              width: 100%;
              height: 145px;
              object-fit: cover;
            }
          }

          .goods_name {
            width: 100%;
            font-size: 19px;
            letter-spacing: 1px;
            font-family: PingFang;
            font-weight: 400;
            color: #333333;
          }

          .date_wrap {
            width: 100%;

            .date {
              font-size: 16px;
              font-weight: 400;
              color: #666666;
            }

            .cate {
              width: 45px;
              height: 18px;
              background: $htmlSupplyColor;
              border-radius: 10px;
              font-size: 11px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #ffffff;
            }
          }
        }
      }
    }

  }

  .need_wrap {
    .need_wrapper::-webkit-scrollbar {
      width: 22px;
      height: 1px;
    }

    .need_wrapper::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: $htmlNeedColr;
    }

    .need_wrapper::-webkit-scrollbar-track {
      /*滚动条里面轨道*/
      border-radius: 10px;
      background: #EEEEEE;
    }
  }
}


// 下部广告
.bottom_adver {
  .img_wrap_bottom {
    width: 225px;
    height: 85px;
    background-color: $htmlColor;
    border-radius: 8px;
  }
}


// 友情链接
.link_tip {
  .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "|";
  }

  .breadcrumb-item {
    a {
      color: #666666;
    }
  }
}

// 腳部
footer {
  height: 168px;
  background-color: #D9D9D9;

  .footer_top {
    height: 65px;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #333333;
    border-bottom: 1px solid #ffffff;
  }

  .footer_bottom {
    color: #333333;
    font-size: 18px;
  }
}