/*
 * @Author: liweilong
 * @Date: 2020-11-12 13:39:57
 */
@import './header.scss';

body {
  background-color: #eeeeee;
}

// 个人中心主体
.profile_content_wrap {
  .left_item {
    width: 160px;
    height: 750px;

    ul {
      li {
        width: 160px;
        height: 57px;
        border-bottom: 1px solid #eeeeee;
        transition: all 0.5s;

        svg {
          width: 21px;
          height: 21px;
        }

        .text_icon {
          width: 90px;
          text-align: center;
          color: #666666;
          font-size: 20px;
          font-family: Adobe Heiti Std;
          font-weight: normal;
          letter-spacing: 2px;
        }
      }

      .active {
        background: #319595;

        svg {
          path {
            fill: #ffffff;
          }
        }

        .text_icon {
          color: #ffffff;
        }
      }
    }
  }

  .content_item {
    width: 660px;
    height: 750px;

    .content_header {
      font-size: 17px;
      font-family: Microsoft YaHei;
      color: #333333;
      border-bottom: 1px solid #eeeeee;
    }

    .form-group {
      width: 530px;

      label {
        font-size: 14px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #999999;
      }

      .form-control {
        width: 463px;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
      }

      .username {
        font-size: 18px;
        font-weight: 400;
        color: #000000;
        opacity: 0.9;
      }

      .textarea-control {
        width: 463px;
        min-height: 60px;
        max-height: 120px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
      }

      .loca {
        width: 463px;
        height: 40px;

        .select_wrap_location {
          width: 138px;
          height: 32px;
          background: #FFFFFF;
          border: 1px solid #CCCCCC;
          border-radius: 5px;
          line-height: 32px;
          font-size: 14px;
          font-family: Microsoft YaHei;
          font-weight: 400;
          color: #333333;
        }
      }

      // 上传图片
      .pic_group {
        width: 463px;

        .pic_wrap {
          width: 87px;
          height: 87px;
          background-color: #EEEEEE;

          img {
            width: 87px;
            height: 87px;
            object-fit: cover;
          }
        }

        .pic_upload {
          width: 60px;
          height: 32px;
          border: 1px solid #319595;
          border-radius: 3px;
          font-size: 16px;
          font-family: Adobe Heiti Std;
          font-weight: normal;

          button {
            color: #319595;
          }
        }
      }
    }

    // 上传
    .submit_btn {
      width: 120px;
      height: 36px;
      background: #319595;
      border-radius: 3px;
      font-size: 18px;
      font-family: Adobe Heiti Std;
      font-weight: normal;
      margin-left: 65px;
    }

    .wrapper::-webkit-scrollbar {
      width: 22px;
      height: 1px;
    }

    .wrapper::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #CBCBCB;
    }

    .wrapper::-webkit-scrollbar-track {
      /*滚动条里面轨道*/
      border-radius: 10px;
      background: #EEEEEE;
    }

    // 我的发布
    .wrapper {
      width: 600px;
      height: 500px;
      border-radius: 12px;
      box-sizing: border-box;

      .goods_ul_content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .goods_li {
          width: 280px;
          margin-bottom: 15px;

          .img_wrap {
            width: 100%;
            height: 145px;
            overflow: hidden;
            border-radius: 12px;
            box-shadow: 0 0 8px rgba(4, 0, 0, 0.2);

            img {
              width: 100%;
              height: 145px;
              object-fit: cover;
            }
          }

          .goods_name {
            width: 100%;

            a {
              width: 100%;
              font-size: 14px;
              font-family: PingFang;
              font-weight: 400;
              color: #000000;
              letter-spacing: 1px;
            }
          }

          .date_wrap {
            width: 100%;

            .date {
              font-size: 12px;
              font-family: PingFang;
              font-weight: 400;
              color: #666666;
            }

            .cate {
              width: 45px;
              height: 18px;
              background: $htmlSupplyColor;
              border-radius: 10px;
              font-size: 11px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #ffffff;
            }
          }
        }
      }
    }

  }

  .right_item {
    width: 313px;
    height: 525px;

    .right_header {
      font-size: 21px;
      font-family: SimHei;
      font-weight: 400;
      background-color: $htmlColor;
      height: 57px;
      line-height: 57px;
    }

    .bulletin_board_ul {
      .bulletin_li {
        border-bottom: 1px solid #eeeeee;

        .title {
          font-size: 16px;
          // font-family: Adobe Heiti Std;
          font-weight: bold;
          color: #333333;
        }

        .desc {
          font-size: 14px;
          font-family: PingFang;
          color: #666666;
        }

        &:hover {
          border-bottom: 1px solid $htmlColor;
        }
      }
    }

    .bottom_class {
      a {
        font-size: 16px;
        color: $htmlSupplyColor;
      }
    }


  }
}

// 腳部
footer {
  height: 168px;
  background-color: #D9D9D9;

  .footer_top {
    height: 65px;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #333333;
    border-bottom: 1px solid #ffffff;
  }

  .footer_bottom {
    color: #333333;
    font-size: 18px;
  }
}

.footer_fixed {
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
}